.ekran{
    background-image:url("slike/pozadina.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.naslov{
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(223, 102, 21);
    text-align: center;
    -webkit-text-stroke: 3px #000000;
}

.container-fluid{
    background-color: rgba(163, 108, 5, 0.85);;
    border: 2px solid #000000; 
    border-radius: 10%;
    top:15%;
    font-size: 18pt;
    text-align-last: center;
    margin: auto;
    position: relative;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 90%;
}

#question{
    font-size: 20pt;
    text-align-last: center;
    font-weight: bold;
}

.poravnaj{
    font-size: 17pt;
    text-align-last: left;
    padding-left: 45%;
}
