ul {
	position: fixed;
	width: 100%;
	top: 5px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	opacity: 75%;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	padding: 14px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}

.naslov{
	float: left;
	color: #99e6ff;
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	font-family: "Cursive";
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
}

body{
	background-image: url("slike/pozadina.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.opis{
	font-family: "Cursive";
	font-size: 20px;
}

.naslovi{
	color: #ffb84d;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
}

p{
	text-indent: 30px;
	font-style: italic;
}
