body{
	background-image: url("images/background.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
	font-size: 12pt;
	font-family: "Helvetica", Arial, sans-serif;
}

#glavni{
	width: 55%;
	margin: auto;
	box-shadow: 5px 5px 5px gray;
}
#kolone{
	display: flex;
}

#levo{
	flex: 70%;
	background-color: #EEEEEE;
}

#desno{
	flex: 30%;
	background-color: #A2B964;
	
}
h1{
	text-align: center;
	font-weight: bold;
	font-family: "Times New Roman", Georgia, serif;
	font-size: 24pt;
	text-shadow: 3px 3px #999999;
}

#baner{
	background-image: url("images/rbg.png");
	background-repeat: repeat-x;
	margin-bottom: 1rem;
	font-size: 48pt;
	color: red;
	font-weight: bold;
	text-align: left;
}

#procenat {
	vertical-align: top;
	
}

.quotebubble{
	font-size: 13pt;
	font-family: "Georgia", Times New Roman, serif;
	background-color: #FFFFFF;
	width: 80%;
	margin: auto;
	border: 2px solid #CCCCCC;
	border-radius: 12px;
	padding: 1em;
}

p{
	width: 80%;
	margin: auto;
	padding: 1em;
}

.publication{
	font-size: 13pt;
	font-style: italic;
}

.slicice{
	float: left;
	padding-right: 5px;
}

dl{
	font-weight: bold;
	line-height: 1.5; 
	padding: 10px;
}
ul{
	padding: 0;
}
li {
	list-style-type: none;
	text-indent: 0px;
}

footer{
	text-align: center;
	background-color: #A2B964;
	padding: 0.5em;
}

#w3c {
	float: right;
	right: 0px;
}

